h2{
    background-color:rgb(131, 107, 107) ;
}
h2{
    color: white;
}
button{
    background-color: blue;
}
button{
    color: white;
}
footer{
    background-color: rgb(131, 107, 107);
}
footer{
    color: rgb(255, 255, 255);
}